/* @media (min-width: 768px){
    .desktop{
        display: initial;
    }
}
.desktop{
    display: none;
} */
html{
    scroll-snap-type: mandatory;
}
section{
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
    height:100vh;
}
.blur-nav{
    background-color: rgba(240, 255, 255, 0.158);
    backdrop-filter:blur(5px) grayscale(.9);
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
.center h1{
    font-size: xx-large;
    font-weight: 600;
    margin:.5rem auto;
}
.page1{
    background-image: url(tesla/model-3.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
}
.btn {
    position: absolute;
    bottom: 0;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 80px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: black;
    color: white;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }
.slide-1{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
  }